/* styles.css */

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Estilos para los botones */
.button-container {
    display: flex;
    align-items: center;
}

.button-container form {
    margin: 0;
    padding: 0;
}

.button-container button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #d32f2f;
}
